<button class="close_comment close_blog_comment">CLOSE COMMENT BOX</button>

<%= form_for @comment do |f| %>
  <%= f.hidden_field :post_id, value: post_id %>
  <%= f.hidden_field :community_id, value: community_id %>
  <%= f.text_area :text, placeholder: "Enter New Comment Here ...", :cols => 50, :rows => 3, :class => 'text_field_message', :id => 'new_comment' %>
  <%= f.submit :class => 'new_comment_button' %>
<% end %>
