<h1>Users#create</h1>
<p>Find me in app/views/users/create.html.erb</p>

<h1> THIS IS FOR ADMIN ONLY</h1>

<h3>CREATE STUDENT FOR ADMIN ONLY</h3>

<%= form_for @user do |f| %>
  <%= f.text_field :fname, placeholder: "First Name" %>
  <%= f.text_field :lname, placeholder: "Last Name" %>
  <br>
  <%= f.email_field :email, placeholder: "Email" %>
  <%= f.password_field :password, placeholder: "Password" %>
  <%= f.submit "Create User" %>
<% end %>