<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>

<h1> THIS COULD BE USED AS AN EDIT PROFILE PAGE</h1>

<h2> bottom of the page has images of followers </h2>
<h2> images courtesy of PAPERCLIP GEM </h2>

<h2>EDIT Here!!</h2>

<%= form_for @user,
			:html => { :multipart => true } do |f| %>
  <%= f.text_field :fname, placeholder: "First Name" %>
  <%= f.text_field :lname, placeholder: "Last Name" %>
  <br>
  <%= f.email_field :email, placeholder: "Email" %>
  <%= f.password_field :password, placeholder: "Password" %>
  <%= f.password_field :password_confirmation, placeholder: "Validate Password" %>
  <%= f.file_field :avatar %>
  <%= f.submit %>
<% end %>