<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<h1> THIS IS FOR ADMIN ONLY</h1>

<h3>CREATE STUDENT / STAFF FOR ADMIN ONLY</h3>

<%= form_for @user do |f| %>
  <%= f.text_field :fname, placeholder: "First Name" %>
  <%= f.text_field :lname, placeholder: "Last Name" %>
  <br>
  <%= f.select :staff_or_student, [['student', 'student'], ['staff', 'staff']]  %>
  <br>
  <%= f.email_field :email, placeholder: "Email" %>
  <%= f.password_field :password, placeholder: "Password" %>
  <%= f.password_field :password_confirmation , placeholder: "Validate Password" %>
  <%= f.file_field :avatar %>
  <%= f.submit "Create User" %>
<% end %>
