<h3 class="profile_name"><%= "#{@user.fname} #{@user.lname}" %>'s Profile</h3>

<br>
<% if @user.avatar.present? %>
  <%= image_tag @user.avatar.url(:medium) %>
<% else %>
  <h4>Missing Pic</h4>
<% end %>

<strong><%= @user.staff_or_student %> </strong>

<% if @current_user && @user.id != @current_user.id %>
  <% if !@followerlink %>
  <form action="/followers" method="POST">
    <input type="hidden"
           name="authenticity_token"
           value="<%= form_authenticity_token %>">
    <input type="hidden"
           name="leader_id"
           value=<%= @user.id %>>
    <input type="submit" value="Follow" class="followlink">
  </form>
  <% else %>
  <div class="followlink">
  <%= link_to(
          ("Unfollow"),
          "/followers/#{ @followerlink.id }",
          method: :delete ) %>
  </div>
  <% end %>
<% end %>


<div class="follower">
<%= @user.followers.count %>
<%= @user.leaders.count %>
</div>
<div class="followers"><h3>Followers</h3>&nbsp;<h3>Following</h3>
</div>


<span><h4>EMAIL: <%= @user.email %></h4></span>

<% if session[:user_id] == @user.id %>
<a href=<%="/users/#{@user.id}/edit" %>>EDIT</a>
<% end %>





