<br>
<% if @user.avatar.present? %>
  <%= image_tag @user.avatar.url(:medium) %>
<% else %>
  <h4>Missing Pic</h4>
<% end %>

<strong><%= @user.staff_or_student.upcase %> </strong>
<h3><%= "#{@user.fname} #{@user.lname}" %>'s Profile</h3>
<h4>EMAIL: <%= @user.email %></h4>

<% if session[:user_id] == @user.id %>
<a href=<%="/users/#{@user.id}/edit" %>>EDIT</a>
<% end %>

<h5>username</h5>
<h5>class taking / teaching</h5>
<h5>GitHub link</h5>
<h5>Portfolio link</h5>
<br>
<h3>followers</h3>
