<br>
<h1>STAFF</h1>

<% if @user %>
	<ul>
		<% @user.reverse.each do |staff| %>
			<div class="staff_div">
				<li>
					<% if staff.avatar.present? %>
						<%= image_tag staff.avatar.url(:small) %>
					<% else %>
						<span><h3>Missing Pic</h3><span>
					<% end %>
						<h3 class="class_teaching">SPECIALTY / CLASS TEACHING</h3>
			 		
			 		<a class="staff_link" href =<%="/users/#{staff.id}"%>>
			 			<%= staff.fname %>
						<%= staff.lname %> 
					</a>
					<br>
					<span><em><%= staff.email %></em></span>
					<br>
					<br>
				</li>
			</div>
		<% end %>
	</ul>
<% end %>
