<h1>LIST ALL COMMUNITY POSTS</h1>
<h4>Community is a forum to help students with any programming problems</h4>

<% if @communities %>
	<ul>
		<% @communities.reverse.each do |community| %>
			<li>
			<h3><%= community.title %></h3>
			<em><%= community.text %> ........</em>

			<%= community.user.fname %>
			<%= community.user.lname %>
			<%= community.user.staff_or_student %>
			<br>
			<a href ="#" data-id=<%= "#{community.id}"%> class="create_comment">ADD COMMENT</a>
			<div class="comment hidden">
			<%= render "comments/new", :community_id => community.id ,
				:post_id => nil  %>
			</div>
			<h5> >> see comments below </h5>
			<% x = @comments.where(community_id: community.id) %>
				<% x.each do |zzz| %>
				<h5> >>>>>>>>>>>>> <%= zzz.text %> </h5>
				<% end %>
			</li>
		<% end %>
	</ul>
<% end %>

