<h1>Community#index</h1>
<p>Find me in app/views/community/index.html.erb</p>

<h1>LIST ALL COMMUNITY POSTS</h1>

<% if @communities %>
	<ul>
		<% @communities.reverse.each do |community| %>
			<li>
			<%= community.title %>
			<%= community.text %>
			<a href ="#" class="create_comment">COMMENT</a>
			<div class="comment hidden">
			<%= render "comments/new" %>
			</div>
			</li>
		<% end %>
	</ul>
<% end %>

<% if @comments %>
	<ul>
		<% @comments.reverse.each do |comment| %>
			<li>
			<%= comment.text %>
			</li>
		<% end %>
	</ul>
<% end %>

<h3>render create new comment box</h3>
<%= render "comments/new" %>