<br>
<div class="community_headline">
<h1>COMMUNITY POSTS</h1>
<h4>Community is a forum to help students with any programming problems</h4>
</div>

<% if @communities %>
	<ul>
		<% @communities.reverse.each do |community| %>
		<div class="community_div">
			<li>
			<h3><%= community.title %></h3>
			<br>
			<em><%= community.text %> ........</em>
			<em><%= community.created_at %></em>
			<br>
			<p><%= " posted by: #{community.user.fname} #{community.user.lname} - 
				 #{community.user.staff_or_student} " %></p>
			<a href ="#" data-id=<%= "#{community.id}"%> class="create_comment">ADD COMMENT</a>
			<div class="comment hidden">
				<%= render "comments/new", :community_id => community.id ,
											:post_id => nil  %>
			</div>
			<% x = @comments.where(community_id: community.id) %>
			<% x.each do |zzz| %>
			<h5> >>>>> <%= zzz.text %> <span> <%= zzz.user.fname %>
			<%= zzz.user.lname %> - <%= zzz.user.staff_or_student %> ... <%= zzz.created_at %></span></h5>
			<% end %>
			</li>
		</div>
		<% end %>
	</ul>
<% end %>

