
<h1>CREATE A NEW COMMUNITY POST</h1>

<%= form_for @community do |f| %>
<%= f.text_field :title, placeholder: "Title Of Community Post" %>
<%= f.text_field :text, placeholder: "Enter Post Here ..." %>
<%= f.file_field :avatar %>
<%= f.submit %>
<% end %>
