<br>
<h1>CREATE A NEW COMMUNITY POST</h1>

<%= form_for @community do |f| %>

  <div class="title">
    <%= f.text_field :title, placeholder: "Title Of Community Post" %>
  </div>

  <div class="text_field">
    <%= f.text_area :text, placeholder: "Enter Community Post Here ...", :cols => 35, :rows => 8, :class => 'community_text_field' %>
  </div>

<!--   <%= f.file_field :avatar %> -->
	<div class="submit_post">
	  <%= f.submit "SUBMIT NEW COMMUNITY POST" %>
	</div>

<% end %>
