<!DOCTYPE html>
<html>
<head>
  <title>NYC+DA Student</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= flash[:notice] if flash[:notice] %>
<%= flash[:alert] if flash[:alert] %>

<% if current_user %>

<button>CLICK TO CREATE POST</button>
<div class="grayzone">
	<div class="modal">
	HELLO!!!!
	</div>
</div>
<div id="menu">
<nav>
	<ul>
		<li><a href ="/users">HOME</a></li>
		<li><a href ="/communities">COMMUNITY</a></li>
		<li><a href ="/users/<%= current_user.id %>">PROFILE</a></li>
		<li><a href ="/users/contact">CONTACT</a></li>
		<li><a href ="/users/students">STUDENTS</a></li>
		<li><a href ="/users/staff">STAFF</a></li>
		<li><a href ="/users/contact#help">HELP</a></li>
		<li><h5>NOTE: menu stored in layouts/application.html.erb</h5></li>
	</ul>
</nav>
</div>
<%= link_to ("LOGOUT"), "/sessions",method: :delete %>
<%= link_to ("CREATE A BLOG POST"), "/posts/new",method: :get %>
<% end %>


<%= yield %>



</body>
</html>
