<!DOCTYPE html>
<html>
<head>
  <title>NYC+DA Student</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= flash[:notice] if flash[:notice] %>
<%= flash[:alert] if flash[:alert] %>


<% if current_user %>

<button class="create_post">CLICK TO CREATE BLOG POST</button>
<div class="grayzone hidden">
	<div class="modal">

	<br>
<h5>other modal info in layouts/application/html.erb</h5>
<h3>render posts#new </h3>
<%= render "posts/new" %>
<h1>CREATE A NEW BLOG POST</h1>

	</div>
</div>
<div id="menu">
<nav>
	<ul>
		<li><a href ="/users">HOME</a></li>
		<li><a href ="/communities">COMMUNITY</a></li>
		<li><a href ="/users/<%= current_user.id %>">PROFILE</a></li>
		<li><a href ="/users/contact">CONTACT</a></li>
		<li><a href ="/users/students">STUDENTS</a></li>
		<li><a href ="/users/staff">STAFF</a></li>
		<li><a href ="/users/contact#help">HELP</a></li>
		<li><h5>NOTE: menu stored in layouts/application.html.erb</h5></li>
	</ul>
</nav>
</div>
<%= link_to ("LOGOUT"), "/sessions",method: :delete %>
<%= link_to ("CREATE A COMMUNITY POST"), "/communities/new",method: :get %>
<% end %>


<%= yield %>


<script>
$(function(){
  $(".create_post").on('click',function(){$(".grayzone").removeClass("hidden")});
 $(".close").on('click',function(){ $(".grayzone").addClass("hidden")});
});

$(function(){
  $(".create_comment").on('click',function(){$(this).parent().children(".comment").removeClass("hidden")});
 $(".close_comment").on('click',function(){ $(".comment").addClass("hidden")});
});

 $(function(){
  $(".create_blog_comment").on('click', function(){ $(this).parent().children(".blog_comment").removeClass("hidden") })

  $(".close_blog_comment").on('click',function(){ $(".blog_comment").addClass("hidden")});
 });


</script>



</body>
</html>
